*{
    margin: 0;
    padding: 0;
}
html, body{
    font-family: 'Gotham-Medium';
    font-size: 16px;
    background-color: #f3f3f3;
}
ul{
    list-style: none;
}
a {
    text-decoration: none;

}
header{
    background-color: #fff;
}
.container{
    margin: 0 auto;
    width: 1280px;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*css menu */
header nav ul {
    display: flex;
}

header nav a {
    display: block;
    padding: .5rem 2rem;
    text-transform: uppercase;
    color: #000;
    position: relative;
}
header nav ul li :last-child a {
    padding-right: 0;
}
header nav a.active::before,
header nav a:hover::before{
    content: "";
    border-bottom: 5px solid rgb(114, 76, 6);
    top: 100%;
    width: 40%;
    position: absolute;
}
/* footer */
footer{
    background-color: #282828;
    padding: 3rem 0;
    color:  #fff;
    font-size: .9rem;

}
footer .row{
    display: flex;
    justify-content: space-between;

}
footer h5{
    position: relative;
    padding: .25rem 0;
    margin-bottom: 1rem;

}
footer h5::before{
    position: absolute;
    content: "";
    border: 5px solid rgb(114, 76, 6);
    top:  100%;
    width: 100px;

}
footer p {
    margin-bottom: .5rem;

}
footer a {
    color: #fff;
    font-family: 'Gotham-Thin';

}

.col {
    width: 33.33333% ;
}

h2{
    font-family: 'Gotham-Ultra';
    font-size: 2rem;
    
    padding: 1rem 0;
    text-align: center;
}
h2 span{
    position: relative;
}
h2  span::before{
    content: "";
    border-bottom: 5px solid rgb(114, 76, 6);
    top: 110%;
    width: 120%;
    left: -10% ;
    position: absolute;
}

.w-100{
    width: 100%;
}
#tin-tuc p{
    font-family: 'Gotham-Medium';
    font-size: .9rem;
    line-height: 1.6;
    text-align: justify;
}
h4 a {
    color: rgb(114, 76, 6) !important;
}
h4{
    padding: .5rem 0;
}
#tin-tuc .img {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    overflow: hidden;
}
#tin-tuc img {
    transition: all 4s;
    height: 20rem;
}
#tin-tuc .img:hover img{
    transform: scale(1.5);
    cursor: pointer;
}

.flex-wrap{
    flex-wrap: wrap;
}
.item {
    margin: 1rem;
}
.bg-white{
    background-color: #fff;

    border-radius: .8rem;
    box-shadow: rgba(0,0,0,.05) 0px  0px 20px;
}
.my-5{
    margin: 2.5rem auto;
}
@media (max-width: 992px){
    .flex-wrap{
        flex-direction: column;
    }
    .item{
        max-width: none;
        width: 100%;
        margin: .75rem;
    }
    html, body {
        font-size: 10px;
    }
    .container{
        padding: 1rem;
        margin: 1rem;
        width: calc(100% - 2rem);
    }
    .col{
        width: 100% !important;
    }
    /* ẩn menu */
    header nav ul {
        display: none;
    }
    .icon-nav {
        width: 30px;
        height: 30px;
        /* background-color: #ccc; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    .icon-nav span{
        display: block;
        width: 100%;
        height: 3px;
        background-color: #ee710a;
    }

    .icon-nav:hover span:nth-child(1){
        transform: rotate(45deg);
        position: absolute;
        top: 100%;
    }
    .icon-nav:hover span:nth-child(2){
        display: none;
    }
    .icon-nav:hover span:nth-child(3){
        transform: rotate(-45deg);
        position: absolute;
        top: 100%;
    }
    .icon-nav:hover + ul {
        display: block;
        position: absolute;
        right: 0;
        width: 150px;
        height: 150px;
        background-color: bisque;
    }
}